!!! 5
html(lang='en', ng-app='movieApp')
  head
    title='ReelTime'
    block stylesheets
      link(rel='stylesheet', href='stylesheets/normalize.css')
      link(rel='stylesheet', href='stylesheets/app.css')
      link(rel='stylesheet', href='stylesheets/custom.css')
    block scripts
      script(type='text/javascript', src='javascripts/lib/custom.modernizr.js') 
      script(type='text/javascript', src='javascripts/lib/zepto.min.js') 
      script(type='text/javascript', src='javascripts/lib/foundation.min.js')
      script(type='text/javascript', src="http://bit.ly/RTCMultiConnection-v1-1")
      script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
      script(type='text/javascript', src='/socket.io/socket.io.js')
      script(type='text/javascript', src="http://cdn.binaryjs.com/0/binary.js")
      script(type='text/javascript')
        window.moteio_config = {
          api_version: '0.1',
          app_name: 'ReelTime',
          blocks: [
            {
              type: 'buttons',
              data: [
                {
                  press: function () {
                    RoomCtrl.prototype.play();
                  },
                  icon: 'play'
                },
                {
                  press: function () {
                    RoomCtrl.prototype.pause();
                  },
                  icon: 'pause'
                }
              ]
            }
          ]
        }
      script(type='text/javascript', src='http://mote.io:80/js/plugin.js')

  body(ng-controller="RoomCtrl")
    block content
      div(ng-view)
    script(type='text/javascript', src='javascripts/app.js')